STATE=
APP_PORT=
NAME=
APP_URL=
HOST=
HTTPS=

# SSL
CERT_PFX=
CERT_BODY=
CERT_KEY=
CERT_PASS=

DB_SYNC_VIEWS=

FILES_UPLOAD_LIMIT=

#postgres/mssql/mysql/sqllite
DB_TYPE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
TZ=

DB_FILE_MODE=

DB_MONGODB_SERVER=
DB_MONGODB_NAME=

# REDIS
REDIS_HOST=
REDIS_PORT=

JWT_SECRET=
#1h / 12h / 24h
JWT_EXPIRES_IN=24h

SA_EMAIL=
SA_PASSWORD=

API_KEY_SECRET=
API_KEY_SECRET_SALT=

KAFKA=
CERTIMAILS_URL=

# Docker
DOCKER_IMAGE_NESTJS=

# Kubenetes
KUBE_DASHBOARD_USERNAME=
KUBE_NAME_SPACE=
KUBE_NAME_APP=